body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .25rem;
    background-color: black;
    width: 600px;
}

.board-wrap>*{
    height: 192px;
    background-color: white;
}

.board-wrap>*{
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    height: 96px;
    width: 96px;
    color: red;
}

.ui-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 8px;
}