body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .25rem;
    background-color: black;
    width: 300px;
}

.board-wrap>*{
    height: 92px;
    background-color: white;
    font-size: 6rem;
}

.board-wrap>*{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 8px;
}